<div class="header">
    <div class="header_content">
        <div class="header_content_title">
            <a routerLink="/Paneli"><i class="bi bi-arrow-left-short"></i></a><h1 routerLink="/Paneli">Fasadni</h1>
        </div>
        <div class="header_content_content">
        </div>
    </div>
</div>
<div class="about_product">
    <div class="about_product_info">
        <div class="about_product_info_title section_1">
            <h1>Fasadni tip</h1>
        </div>
        <div class="about_product_info_spec section_1">
            <p>
                <span>Specifikacije:</span> Lorem ipsum dolor sit amet consectetur, <br> adipisicing elit. 
                Obcaecati laborum dolore expedita unde?<br> Possimus quisquam id cum. 
                Optio nam quisquam hic nihil enim, dignissimos adipisci quidem ipsa. 
                Aut, iure ab?
                <br>
                <Span id="more_info_span"><a href="https://www.technopanel.com/rs/product/i46/TFACE-T-Zidni-sistem.html" target="_blank">Više informacija</a></Span>
            </p>
        </div>
        <div class="about_product_info_supplier section_1">
            <h1>Proizvođač: Technopanel</h1>

        </div>
    </div>
    <div class="about_product_details">
        <div class="about_product_details_table">
            <div class="about_product_details_table_heading">
              <h1 [ngClass]="show_1 ? 'color' : 'color_1'" (click)="show_table_1()">
                Izolacija Pur
              </h1>
              <h1 [ngClass]="show_2 ? 'color' : 'color_1'" (click)="show_table_2()">
                Izolacija Pir
              </h1>
              <h1 [ngClass]="show_3 ? 'color' : 'color_1'" (click)="show_table_3()">
                Izolacija MW
              </h1>
            </div>
            <div class="table-responsive">
              <table class="table" [ngClass]="show_1 ? 'showTable' : 'hideTable'">
                <caption><i class="bi bi-tools"></i>Specifikacije</caption>
                <tbody>
                  <tr>
                    <th scope="row">Debljina panela (mm)</th>
                    <td>40</td>
                    <td>50</td>
                    <td>60</td>
                    <td>80</td>
                    <td>100</td>
                    <td>120</td>
                    <td>150</td>
                  </tr>
                  <tr>
                    <th scope="row">Debljina spoljni lim (mm)</th>
                    <td>0.50</td>
                    <td>0.50</td>
                    <td>0.50</td>
                    <td>0.50</td>
                    <td>0.50</td>
                    <td>0.50</td>
                    <td>0.50</td>
                  </tr>
                  <tr>
                    <th scope="row">Debljina unutrašnji lim (mm)</th>
                    <td>0.40</td>
                    <td>0.40</td>
                    <td>0.40</td>
                    <td>0.40</td>
                    <td>0.40</td>
                    <td>0.40</td>
                    <td>0.40</td>
                  </tr>
                  <tr>
                    <th scope="row">Težina panela (kg/m<sup>2</sup>)</th>
                    <td>9.36</td>
                    <td>9.72</td>
                    <td>10.08</td>
                    <td>10.80</td>
                    <td>11.52</td>
                    <td>12.24</td>
                    <td>13.32</td>
                  </tr>
                  <tr>
                    <th scope="row">Koeficijent toplotne provodljivosti λ(W/mK)</th>
                    <td colspan="13" class="merged" >0.022W/mK</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Koeficijent prolaska toplote U(W/m<sup>2</sup>K)</th>
                    <td>0.50</td>
                    <td>0.41</td>
                    <td>0.35</td>
                    <td>0.26</td>
                    <td>0.21</td>
                    <td>0.18</td>
                    <td>0.14</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Klasa reakcije na vatru:</th>
                    <td colspan="13" class="merged">Bs2, d0</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Otpornost na vatru (min)</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>EI15</td>
                    <td>EI15</td>
                    <td>EI15</td>
                    <td>EI15</td>
                   
                   
                  </tr>
                </tbody>
              </table>

              <table class="table" [ngClass]="show_2 ? 'showTable' : 'hideTable'">
                <caption><i class="bi bi-tools"></i>Specifikacije</caption>
                <tbody>
                  <tr>
                    <th scope="row">Debljina panela (mm)</th>
                    <td>50</td>
                    <td>60</td>
                    <td>80</td>
                    <td>100</td>
                    <td>120</td>
                    <td>150</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Debljina spoljni lim (mm)</th>
                    <td>0.60</td>
                    <td>0.60</td>
                    <td>0.60</td>
                    <td>0.60</td>
                    <td>0.60</td>
                    <td>0.60</td>
                  
                  </tr>
                  <tr>
                    <th scope="row">Debljina unutrašnji lim (mm)</th>
                    <td>0.40</td>
                    <td>0.40</td>
                    <td>0.40</td>
                    <td>0.40</td>
                    <td>0.40</td>
                    <td>0.40</td>
                  </tr>
                  <tr>
                    <th scope="row">Težina panela (kg/m<sup>2</sup>)</th>
                    <td>10.88</td>
                    <td>11.29</td>
                    <td>12.11</td>
                    <td>12.93</td>
                    <td>13.75</td>
                    <td>14.98</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Koeficijent toplotne provodljivosti λ(W/mK)</th>
                    <td colspan="10" class="merged" >0.022W/mK</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Koeficijent prolaska toplote U(W/m<sup>2</sup>K)</th>
                    <td>0.41</td>
                    <td>0.35</td>
                    <td>0.27</td>
                    <td>0.21</td>
                    <td>0.18</td>
                    <td>0.14</td>
                  </tr>
                  <tr>
                    <th scope="row">Klasa reakcije na vatru:</th>
                    <td colspan="10" class="merged">Bs1,d0</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Otpornost na vatru (min)</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>EI30</td>
                    <td>EI30</td>
                    <td>EI30</td>
                    
                    
                  </tr>
                </tbody>
              </table>

              <table class="table" [ngClass]="show_3 ? 'showTable' : 'hideTable'" >
                <caption><i class="bi bi-tools"></i>Specifikacije</caption>
                <tbody>
                  <tr>
                    <th scope="row">Debljina panela (mm)</th>
                    <td>50</td>
                    <td>60</td>
                    <td>80</td>
                    <td>100</td>
                    <td>120</td>
                    <td>150</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Debljina spoljni lim (mm)</th>
                    <td>0.50</td>
                    <td>0.50</td>
                    <td>0.50</td>
                    <td>0.50</td>
                    <td>0.50</td>
                    <td>0.50</td>
                
                  </tr>
                  <tr>
                    <th scope="row">Debljina unutrašnji lim (mm)</th>
                    <td>0.50</td>
                    <td>0.50</td>
                    <td>0.50</td>
                    <td>0.50</td>
                    <td>0.50</td>
                    <td>0.50</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Gustina izolacionog jezgra (kg/m<sup>3</sup>)</th>
                    <td colspan="10" class="merged">100kg/m<sup>3</sup></td>
                  </tr>
                  <tr>
                    <th scope="row">Težina panela (kg/m<sup>2</sup>)</th>
                    <td>14.23</td>
                    <td>15.23</td>
                    <td>17.23</td>
                    <td>19.23</td>
                    <td>21.23</td>
                    <td>24.23</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Koeficijent toplotne provodljivosti λ(W/mK)</th>
                    <td colspan="13" class="merged" >0.039 W/mK</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Koeficijent prolaska toplote U(W/m<sup>2</sup>K)</th>
                    <td>0.68</td>
                    <td>0.58</td>
                    <td>0.45</td>
                    <td>0.36</td>
                    <td>0.31</td>
                    <td>0.25</td>
                  </tr>
                  <tr>
                    <th scope="row">Klasa reakcije na vatru:</th>
                    <td colspan="13" class="merged">A2-s1, d0</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Otpornost na vatru (min)</th>
                    <td>-</td>
                    <td>-</td>
                    <td>EI60</td>
                    <td>EI60</td>
                    <td>EI60</td>
                    <td>EI60-EI180</td>
                    
                    
                  </tr>
                </tbody>
              </table>
            </div>
              
        </div>
    </div>
</div>
<div class="products_images">
  <div class="product_images_1 images">
    <div>
      <img [ngClass]="show_1 ? 'showImg' : 'hideImg'" src="/assets/images/fasadniPur.jpg" alt="">
      <img [ngClass]="show_2 ? 'showImg' : 'hideImg'" src="/assets/images/fasadniPir.jpg" alt="">
      <img [ngClass]="show_3 ? 'showImg' : 'hideImg'" src="/assets/images/fasadniMW.jpg" alt="">
    </div>
  </div>
</div>