
<div class="header">
    <div class="header_content">
        <div class="header_content_title">
            <a routerLink="/Proizvodi"><i class="bi bi-arrow-left-short"></i></a><h1 routerLink="/Proizvodi">Kondenzacione jedinice</h1>
        </div>
        <div class="header_content_content">
        </div>
    </div>
</div>
<div class="condensing_units">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="condensing_units_img">
                <img src="/assets/images/condensingunit.jpg" alt="">
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="condensing_units_description">
                <p><span>Lorem </span>dolor sit amet consectetur adipisicing elit. 
                    Dolores quia molestias maxime tempore debitis expedita dolor mollitia facilis, officiis molestiae fugit ut corrupti non! 
                    Praesentium quia quae facere neque blanditiis.
                </p>
            </div>
        </div>
    </div>
    <div class="rest_of_products">
        <!-- Prvi -->
        <div class="row split_type_hermetic product">
            <div class="col-12 col-lg-5 product_content_img">
                <img src="/assets/images/Industrial.jpg" alt="">
            </div>
            <div class="col-12 col-lg-1">
    
            </div>
            <div class="col-12 col-lg-6 product_content_description">
                <div>
                    <h1>
                        Industrial Type
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Omnis, accusamus laboriosam. 
                        Inventore ratione ex deleniti placeat nesciunt, deserunt iusto voluptatum ut reprehenderit repudiandae cupiditate. 
                        Corrupti libero doloribus quod asperiores iste?
                    </p>
                    <button type="button" class="btn btn-outline-success" (click)="changeRoute('/Industrijski tip')">Pogledaj više</button>
                </div>
            </div>
        </div>
        <!-- Drugi -->
        <div class="row split_type_hermetic product">
            <div class="col-12 col-lg-5 product_content_img">
                <img src="/assets/images/SplitTypeHermatic.jpg" alt="">
            </div>
            <div class="col-12 col-lg-1">
    
            </div>
            <div class="col-12 col-lg-6 product_content_description">
                <div>
                    <h1>
                        Split Type Hermatic
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Omnis, accusamus laboriosam. 
                        Inventore ratione ex deleniti placeat nesciunt, deserunt iusto voluptatum ut reprehenderit repudiandae cupiditate. 
                        Corrupti libero doloribus quod asperiores iste?
                    </p>
                    <button type="button" class="btn btn-outline-success" (click)="changeRoute('/Split Type Hermatic type')">Pogledaj više</button>
                </div>
            </div>
        </div>
        <!-- Treci -->
        <div class="row split_type_hermetic product">
            <div class="col-12 col-lg-5 product_content_img">
                <img src="/assets/images/SplitTypeSemiHermatic.jpg" alt="">
            </div>
            <div class="col-12 col-lg-1">
    
            </div>
            <div class="col-12 col-lg-6 product_content_description">
                <div>
                    <h1>
                        Split Type Semi Hermetic
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Omnis, accusamus laboriosam. 
                        Inventore ratione ex deleniti placeat nesciunt, deserunt iusto voluptatum ut reprehenderit repudiandae cupiditate. 
                        Corrupti libero doloribus quod asperiores iste?
                    </p>
                    <button type="button" class="btn btn-outline-success" (click)="changeRoute('/Split Type Semi Hermatic type')">Pogledaj više</button>
                </div>
            </div>
        </div>
        <!-- Cetvrti -->
        <div class="row split_type_scroll product">
            <div class="col-12 col-lg-5 product_content_img">
                <img src="/assets/images/SplitTypeScroll.jpg" alt="">
            </div>
            <div class="col-12 col-lg-1">
    
            </div>
            <div class="col-12 col-lg-6 product_content_description">
                <div>
                    <h1>
                        Split Type Scroll
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Omnis, accusamus laboriosam. 
                        Inventore ratione ex deleniti placeat nesciunt, deserunt iusto voluptatum ut reprehenderit repudiandae cupiditate. 
                        Corrupti libero doloribus quod asperiores iste?
                    </p>
                    <button type="button" class="btn btn-outline-success" (click)="changeRoute('/Split Type Scroll type')">Pogledaj više</button>
                </div>
            </div>
        </div>
    </div>
</div>