<div class="header">
    <div class="header_content">
        <div class="header_content_title">
            <a routerLink="/Proizvodi"><i class="bi bi-arrow-left-short"></i></a><h1>Vrata</h1>
        </div>
        <div class="header_content_content">
        </div>
    </div>
</div>
<div class="doors">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="doors_img">
                <img src="/assets/images/vrata1.jpg" alt="">
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="doors_description">
                <p><span>Lorem </span>dolor sit amet consectetur adipisicing elit. 
                    Dolores quia molestias maxime tempore debitis expedita dolor mollitia facilis, officiis molestiae fugit ut corrupti non! 
                    Praesentium quia quae facere neque blanditiis.
                </p>
            </div>
        </div>
    </div>
    <div class="rest_of_products">
        <!-- Prvi -->
        <div class="row twisty product">
            <div class="col-12 col-lg-5 product_content_img">
                <img src="/assets/images/zaokretna.jpg" alt="">
            </div>
            <div class="col-12 col-lg-1">
    
            </div>
            <div class="col-12 col-lg-6 product_content_description">
                <div>
                    <h1>
                        Zaokretna vrata
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Omnis, accusamus laboriosam. 
                        Inventore ratione ex deleniti placeat nesciunt, deserunt iusto voluptatum ut reprehenderit repudiandae cupiditate. 
                        Corrupti libero doloribus quod asperiores iste?
                    </p>
                    
                </div>
            </div>
        </div>
        <!-- Drugi -->
        <div class="row sliding product">
            <div class="col-12 col-lg-5 product_content_img">
                <img src="/assets/images/klizna1.jpg" alt="">
            </div>
            <div class="col-12 col-lg-1">
    
            </div>
            <div class="col-12 col-lg-6 product_content_description">
                <div>
                    <h1>
                        Klizna vrata
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Omnis, accusamus laboriosam. 
                        Inventore ratione ex deleniti placeat nesciunt, deserunt iusto voluptatum ut reprehenderit repudiandae cupiditate. 
                        Corrupti libero doloribus quod asperiores iste?
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
