<div class="aboutUsBanner">
    <div class="aboutUsBannerTitle">
        <h1 class="aboutUsMainTitle">
           O firmi
        </h1>
    </div>
</div>
<div class="aboutUs">
    <div class="aboutUsContent">
        <div class="aboutUsContentText firstSection" >
            <div class="aboutUsContentImage">
                <img src="/assets/images/oVlasniku.jpg" alt="">
            </div>
            <div class="aboutUsContentParagraph">
                <h1>
                    O vlasniku
                </h1>
                <div class="aboutUsContentParagraphTitle">
                    
                </div>
                
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo sed necessitatibus sapiente saepe enim pariatur, laudantium iusto rem voluptate cum consequuntur ipsam ipsa hic repellendus nulla iste? Praesentium, alias nihil!
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem hic officiis iste odio perspiciatis sint nihil nesciunt vel ipsa ut cupiditate, non sed omnis amet pariatur necessitatibus repellat tempora. Architecto.
                </p>
            </div>
        </div>
        <div class="aboutUsContentText secondSection">
            <div class="aboutUsContentImage">
                <img src="/assets/images/delatnost.jpg" alt="">
            </div>
            <div class="aboutUsContentParagraph">
                <h1>
                    Delatnost
                </h1>
                <div class="aboutUsContentParagraphTitle">
                    
                </div>
                
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo sed necessitatibus sapiente saepe enim pariatur, laudantium iusto rem voluptate cum consequuntur ipsam ipsa hic repellendus nulla iste? Praesentium, alias nihil!
                        <br>
                        <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem hic officiis iste odio perspiciatis sint nihil nesciunt vel ipsa ut cupiditate, non sed omnis amet pariatur necessitatibus repellat tempora. Architecto.
                    </p>
                
                
            </div>
        </div>
        <div class="aboutUsContentText thirdSection">
            <div class="aboutUsContentImage">
                <img src="/assets/images/pocetak.jpg" alt="">
            </div>
            <div class="aboutUsContentParagraph">
                <h1>
                    Početak firme
                </h1>
                <div class="aboutUsContentParagraphTitle">
                    
                </div>
                <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo sed necessitatibus sapiente saepe enim pariatur, laudantium iusto rem voluptate cum consequuntur ipsam ipsa hic repellendus nulla iste? Praesentium, alias nihil!
                        <br>
                        <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem hic officiis iste odio perspiciatis sint nihil nesciunt vel ipsa ut cupiditate, non sed omnis amet pariatur necessitatibus repellat tempora. Architecto.
                </p>
            </div>
        </div>
    </div>
</div>
