<div class="header">
    <div class="header_content">
        <div class="header_content_title">
            <a routerLink="/Isparivači"><i class="bi bi-arrow-left-short"></i></a><h1>Standardni tip</h1>
        </div>
        <div class="header_content_content">
        </div>
    </div>
</div>
<div class="about_product">
    <div class="about_product_info">
        <div class="about_product_info_title section_1">
            <h1>Standardni tip</h1>
        </div>
        <div class="about_product_info_spec section_1">
            <p>
                <span>Specifikacije:</span> Lorem ipsum dolor sit amet consectetur, <br> adipisicing elit. 
                Obcaecati laborum dolore expedita unde?<br> Possimus quisquam id cum. 
                Optio nam quisquam hic nihil enim, dignissimos adipisci quidem ipsa. 
                Aut, iure ab?
            </p>
        </div>
        <div class="about_product_info_supplier section_1">
            <h1>Proizvođač: IBS</h1>

        </div>
    </div>
    <div class="about_product_details">
        <div class="about_product_details_table">
            <table class="table">
                <caption><i class="bi bi-tools"></i>Specifikacije</caption>
                <tbody>
                  <tr>
                    <th scope="row">COIL TYPE</th>
                    <td>Aluminium</td>
                  </tr>
                  <tr>
                    <th scope="row">TUBE MATERIAL</th>
                    <td>Copper</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">FIN SPACING RANGE</th>
                    <td>4 mm  ~ 12 mm</td>
                  
                  </tr>
                  <tr>
                    <th scope="row">FAN VOLTAGE</th>
                    <td>240 V / 1 PH / 50 Hz</td>
                  </tr>
                  <tr>
                    <th scope="row">FAN DIAMETERS</th>
                    <td>300 mm  ~ 500 mm</td> 
                  </tr>
                  <tr>
                    <th scope="row">FAN PIECES</th>
                    <td>1 ~ 4</td>
                  </tr>
                  <tr>
                    <th scope="row">REFRIGERANT</th>
                    <td>R 404 A / R 507A / R 134A</td>
                  </tr>
                  <tr>
                    <th scope="row">COOLING CAPACITY RANGE</th>
                    <td>SC1 : 3 kW ~ 41 kW <br>
                        SC2 : 2 kW ~ 32 kW <br>
                        SC3 : 3 kW ~ 23 kW <br>
                        SC4 : 1 kW ~ 18 kW <br>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>
<div class="products_images">
  <div class="product_images_1 images">
    <div>
      <img src="/assets/images/EV_Standard.jpg" alt="">
    </div>
  </div>
</div>
