<div class="header">
    <div class="header_content">
        <div class="header_content_title">
            <a routerLink="/Početna strana"><i class="bi bi-arrow-left-short"></i></a><h1>Kontakt</h1>
        </div>
        <div class="header_content_content">
        </div>
    </div>
</div>
<div class="contact">
    <div class="contact_content">
        <div class="contact_content_title">
            <h1>Contacts</h1>
        </div>
        <div class="location form" (click)="changeURL()">
            <div class="location_icon">
                <img src="/assets/images/locationIcon.png" alt="">
            </div>
            <div class="location_text text">
                <div class="text_wrap_1">
                    <div class="text_wrap_2">
                        <div class="text_wrap_3">
                            <p class="text_wrap_title">Location</p>
                            <p>Serbia, Kragujevac</p>
                            <p>Industrijska, Kragujevac</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="phone form">
            <div class="phone_icon">
                <img src="/assets/images/phoneIcon.png" alt="">
            </div>
            <div class="phone_text text">
                <div class="text_wrap_1">
                    <div class="text_wrap_2">
                        <div class="text_wrap_3">
                            <p class="text_wrap_title">Phone number</p>
                            <p>XXXXXXX</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="email form">
            <div class="email_icon">
                <img src="/assets/images/mailIcon.png" alt="">
            </div>
            <div class="email_text text">
                <div class="text_wrap_1">
                    <div class="text_wrap_2">
                        <div class="text_wrap_3">
                            <p class="text_wrap_title">EMAIL</p>
                            <p>xxxxx@gmail.com</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="map-wrap">
            <div class="map" #map></div>
          </div>
    </div>
</div>