$bg_color:rgb(238, 238, 238);
$hover_color:rgb(189, 189, 189);
$border_color:rgb(206, 206, 206);
$text_color:rgb(95, 179, 0);
$text_color_1:rgb(112, 112, 112);
$linear_1: linear-gradient(270deg, rgba(210,210,210,1) 0%, rgba(164,164,164,1) 100%, rgba(225,250,255,1) 100%);
$linear_2:rgb(210,210,210);
$linear_1_1:rgb(123,238,140);
$linear_1_2:linear-gradient(90deg, rgb(195, 252, 203) 0%, rgba(225,246,198,1) 100%, rgba(154,154,154,1) 100%);
$linear_1_3:linear-gradient(90deg, rgba(0,189,27,1) 0%, rgba(95,242,97,1) 47%, rgba(98,244,100,0) 100%);
$linear_1_4:linear-gradient(124deg, rgba(31,228,0,1) 0%, rgba(221,244,4,0.4822303921568627) 100%);
$box_shadow: 1px 0px 5px 0px rgb(192, 192, 192);
$box_shadow_verctical:  1px -1px 5px 0px rgb(192, 192, 192);
$widht_drop_down: 160px;
$phone_drop_down: rgb(46, 46, 46);
$overlay: linear-gradient(13deg, rgba(27,154,4,1) 0%, rgba(224,253,45,1) 100%);
$overlay2:linear-gradient(13deg, rgba(27,154,4,0.17970938375350143) 0%, rgba(224,253,45,1) 100%);
$font_family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font_1: Verdana, Geneva, Tahoma, sans-serif;
img{
    width: 100px;
    height: 100px;
}
.header{
    width: 100%;
    height: 250px;
    position: relative;
    background: url(/assets/images/ContactPage_3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    box-shadow: $box_shadow;
}   
.header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}
.header_content{
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
.header_content_title{
    width: 100%;
    height: 100%;
    display: table;
}
.header_content_title h1{
    display: table-cell;
    vertical-align: middle;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: 25px;
}
.header_content_title a{
    display: table-cell;
    vertical-align: middle;
    width: 15px;
}
.header_content_title a i{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: 30px;
}
a i{
    color: black;
    text-decoration: none !important;
}
.contact{
    width: 100%;
}
.contact_content{
    width: 60%;
    margin: 0 auto;
   
    display: flex;
    flex-direction: column;
}
.contact_content_title{
    width: 60%;
    margin: 0 auto;
    margin-top:40px !important; 
}
.contact_content_title h1{
    color: $text_color;
    font-size: 30px;
    font-family: $font_1;
}
.form img{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}
.text{
    width: calc(100% - 140px);
    display: flex;
    justify-content: center;
}
.text .text_wrap_1{
    height: 100%;
    display: table;
    
}
.text .text_wrap_1 .text_wrap_2{
    display: table-cell;
    vertical-align: middle;
   
}
.text .text_wrap_1 .text_wrap_2 .text_wrap_3{
    display: flex;
    flex-direction: column;
}
.text_wrap_3 p{
    font-size: 17px;
    font-family: $font_1;
    color: $text_color_1;
    font-weight: 300;
}
.text_wrap_title{
    font-weight: 700 !important;
    font-size: 20px !important;
}
.form{
    width: 60%;
    border-radius: 5px;
    box-shadow: $box_shadow;
    height: calc(100% / 3);
    margin: 0 auto;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.form:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 500ms;
}
.map-wrap {
    position: relative;
    width: 400px;
    height: 400px; /* calculate height of the screen minus the heading */
    margin-bottom: 40px !important;
    margin: 0 auto;
  }
  
  .map {
    
    width: 100%;
    height: 100%;
  }
  
  .watermark {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 999;
  }
@media only screen and (min-width:0px) and (max-width:400px){
    img{
        width: 70px;
        height: 70px;
    }
    .contact_content{
        width: 100% !important;
        margin: 0 auto;
   
        display: flex;
        flex-direction: column;
    }
    .form img{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
    }
    .form{
        width: 100%;
    }
    .text{
        margin-left: 40px;
    }
    .text_wrap_3 p{
        font-size: 13px;
        font-family: $font_1;
        color: $text_color_1;
        font-weight: 300;
    }
    .text_wrap_title{
        font-weight: 700 !important;
        font-size: 16px !important;
    }
}
@media only screen and (min-width:0px) and (max-width:769px){
    .contact_content{
        width: 100% !important;
        margin: 0 auto;
   
        display: flex;
        flex-direction: column;
    }
    .form{
        width: 90%;
    }
}
@media only screen and(min-width:770px) and (max-width:1023px){
    .contact_content{
        width: 90% !important;
        margin: 0 auto;
   
        display: flex;
        flex-direction: column;
    }
    .form{
        width: 90%;
    }
}
@media only screen and(min-width:1024px) and (max-width:1280px){
    .contact_content{
        width: 80% !important;
        margin: 0 auto;
   
        display: flex;
        flex-direction: column;
    }
    .form{
        width: 80%;
    }
    
}