<div class="header">
    <div class="header_content">
        <div class="header_content_title">
            <a routerLink="/Početna strana"><i class="bi bi-arrow-left-short"></i></a><h1 routerLink="/Početna strana">Kontakt</h1>
        </div>
        <div class="header_content_content">
        </div>
    </div>
</div>
<div class="contact">
    <div class="contact_content">
        <div class="contact_content_title">
            <h1>Kontakti</h1>
        </div>
        <div class="location form" (click)="changeURL()">
            <div class="location_icon icon">
                <img src="/assets/images/locationContact.png" alt="">
            </div>
            <div class="location_text text">
                <div class="text_wrap_1">
                    <div class="text_wrap_2">
                        <div class="text_wrap_3">
                            <p class="text_wrap_title">Lokacija</p>
                            <p>Srbija, Kragujevac</p>
                            <p>Industrijska, Kragujevac</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="phone form">
            <div class="phone_icon icon">
                <img src="/assets/images/phoneContact.png" alt="">
            </div>
            <div class="phone_text text">
                <div class="text_wrap_1">
                    <div class="text_wrap_2">
                        <div class="text_wrap_3">
                            <p class="text_wrap_title">Broj telefona</p>
                            <p><a>+381 381 381 381</a></p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="email form">
            <div class="email_icon icon">
                <img src="/assets/images/emailContact.png" alt="">
            </div>
            <div class="email_text text">
                <div class="text_wrap_1">
                    <div class="text_wrap_2">
                        <div class="text_wrap_3">
                            <p class="text_wrap_title">Email</p>
                            <p>xxxx.xxxx@xxxx.com</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
       
    </div>
    <!-- <hr> -->
    <div class="map-wrap">
        <!-- <div class="map" #map></div> -->
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2868.665313485302!2d20.9471043!3d44.0283103!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47572731b2fab92d%3A0xd33371a689814efd!2sBAHAR%20Rashladni%20Sistemi!5e0!3m2!1sen!2srs!4v1689348017827!5m2!1sen!2srs" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>