$bg_color:rgb(238, 238, 238);
$hover_color:rgb(189, 189, 189);
$border_color:rgb(206, 206, 206);
$text_color:rgb(95, 179, 0);
$text_color_1:rgb(112, 112, 112);
$linear_1: linear-gradient(270deg, rgba(210,210,210,1) 0%, rgba(164,164,164,1) 100%, rgba(225,250,255,1) 100%);
$linear_2:rgb(210,210,210);
$linear_1_1:rgb(123,238,140);
$linear_1_2:linear-gradient(90deg, rgb(195, 252, 203) 0%, rgba(225,246,198,1) 100%, rgba(154,154,154,1) 100%);
$linear_1_3:linear-gradient(90deg, rgba(0,189,27,1) 0%, rgba(95,242,97,1) 47%, rgba(98,244,100,0) 100%);
$linear_1_4:linear-gradient(124deg, rgba(31,228,0,1) 0%, rgba(221,244,4,0.4822303921568627) 100%);
$box_shadow: 1px 0px 5px 0px rgb(192, 192, 192);
$box_shadow_verctical:  1px -1px 5px 0px rgb(192, 192, 192);
$widht_drop_down: 160px;
$phone_drop_down: rgb(46, 46, 46);
$overlay: linear-gradient(13deg, rgba(27,154,4,1) 0%, rgba(224,253,45,1) 100%);
$overlay2:linear-gradient(13deg, rgba(27,154,4,0.17970938375350143) 0%, rgba(224,253,45,1) 100%);
$font_family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
a i {
    color: black;
}
thead{
    width: 100%;
}
.heading{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.heading td{
    width: calc(100% / 3);
}
.header{
    width: 100%;
    height: 150px;
    position: relative;
    z-index: 0;
}   
.header::before{
    content: "";
    position: absolute;
    background: url(/assets/images/proizvodiBaner1.png);
    width: 100%;
    height: 100%;
    background-position: center;
    
    z-index: -1;
}
.header_content{
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
.header_content_title{
    width: 100%;
    height: 100%;
    display: table;
}
.header_content_title h1{
    display: table-cell;
    vertical-align: middle;
    font-family:poppins;
    font-size: 25px;
}
.header_content_title a{
    display: table-cell;
    vertical-align: middle;
    width: 15px;
}
.header_content_title a i{
    font-family: poppins;
    font-size: 30px;
}
///product
.about_product{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.about_product_info{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.about_product_details{
    width: 80%;
    height: 100%;
}
.section_1{
    margin-top: 50px;
}
///Title
.about_product_info_title h1{
    font-size: 25px;
    color: $text_color;
    font-weight: 500;
    font-family: $font_family;
    text-align: left;
}

///Spec
.about_product_info_spec p span{
    color: black;
    font-weight: 500;
}
.about_product_info_spec p{
    color: $text_color_1;
    text-align: justify;
}
.about_product_info_spec #more_info_span a{
    color: $text_color !important;
    cursor: pointer;
}

//Supplier
.about_product_info_supplier h1{
    font-size: 20px;
    color: $text_color_1;
    font-weight: 500;
    font-family: $font_family;
}
////Details
.about_product_details_table{
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
.about_product_details_table .table-responsive{
    
    width: 90% !important;
    margin: 0 auto;
    font-size: 15px;
    
    
}
table{
    animation: growDown 800ms ease-in-out forwards;
    transform-origin: top center;
}
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}
.table_out{
    width: 100% !important;
    margin: 0 auto;
}
.table_out p{
    width: 100%;
}
.merged{
    text-align: center;
}
.showTable{
    display:table;
}
.hideTable{
    display: none;
}
.showImg{
    display: block;
}
.hideImg{
    display: none;
}
.color{
    color: $text_color;
    
}
.color_1{
    color: black;
}
////
.about_product_details_table_heading{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.about_product_details_table_heading h1{
    cursor: pointer;
}
.about_product_details_table_heading h1{
    font-size: 20px;
}
table caption i{
    color: $text_color;
    margin-right: 10px;
}
///Images
.products_images{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.images{
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
}
.images div{
    width: 50%;
    height: 100%;
    margin: 0 auto;
}
.images img{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.product_images_1{
    div{
        border-radius: 25px;
        overflow: hidden;
        img{
            border-radius: 25px !important;
        }
    }
}
.product_images_1 div img:hover, .product_images_2 div img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 1s;
}
@media only screen and(max-width:768px){
    .about_product{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .about_product_info{
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .about_product_details{
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .images div{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
}
