<div class="header">
    <div class="header_content">
        <div class="header_content_title">
            <a routerLink="/Kondenzacione jedinice"><i class="bi bi-arrow-left-short"></i></a><h1 routerLink="/Kondenzacione jedinice">Split Type Hermatic Type</h1>
        </div>
        <div class="header_content_content">
        </div>
    </div>
</div>
<div class="about_product">
    <div class="about_product_info">
        <div class="about_product_info_title section_1">
            <h1>Split Type Hermatic Type</h1>
        </div>
        <div class="about_product_info_spec section_1">
            <p>
                <span>Specifikacije:</span> Lorem ipsum dolor sit amet consectetur, <br> adipisicing elit. 
                Obcaecati laborum dolore expedita unde?<br> Possimus quisquam id cum. 
                Optio nam quisquam hic nihil enim, dignissimos adipisci quidem ipsa. 
                Aut, iure ab?
            </p>
        </div>
        <div class="about_product_info_supplier section_1">
            <h1>Proizvođač: IBS</h1>

        </div>
    </div>
    <div class="about_product_details">
        <div class="about_product_details_table">
            <table class="table">
                <caption><i class="bi bi-tools"></i>Specifikacije</caption>
                <tbody>
                  <tr>
                    <th scope="row">Tip kompresora</th>
                    <td>Hermetic</td>
                  </tr>
                  <tr>
                    <th scope="row">Nominal Power Range</th>
                    <td>0,7 HP ~ 6 HP</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Available Refrigerants</th>
                    <td>R 404 A / R 407 F</td>
                  
                  </tr>
                  <tr>
                    <th scope="row">Condanser Position</th>
                    <td>Monoblok</td>
                  </tr>
                  <tr>
                    <th scope="row">Condanser Type</th>
                    <td>Fin&Tube</td> 
                  </tr>
                  <tr>
                    <th scope="row">Condanser Fin Spancing</th>
                    <td>2,1 mm – 2,5 mm</td>
                  </tr>
                  <tr>
                    <th scope="row">Condanser Tube Meterial</th>
                    <td>Copper</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
<!-- <div class="products_images">
  <div class="product_images_1 images">
    <div>
      <img src="/assets/images/SplitTypeHermatic-slika1.jpg" alt="">
    </div>
  </div>
  <div class="product_images_2 images">
    <div>
      <img src="/assets/images/SplitTypeHermatic-slika2.jpg" alt="">
    </div>
    
  </div>
  <div class="product_images_3 images">
    <div>
      <img src="/assets/images/SplitTypeHermatic-slika3.jpg" alt="">
    </div>
    
  </div>
</div> -->
<div class="products_imagesSlideShow">
  <!-- <div class="products_imagesSlideShowImage" *ngFor="let src of slideShowImage" [hidden] = "src.id == false">
      <div class="products_imagesSlideShowImageContent">
          <img src="{{src.src}}" class="animation" id="{{src.num}}" alt="">
      </div>
      <div class="navigation">
        <div class="circle " *ngFor="let src of slideShowImage" (click)="changeImg(src.num)" [ngClass]="src.id ? 'active' : 'notActive'"></div>
        
      </div>
  </div> -->
  <div class="products_imagesSlideShowImage">
    <!-- <div class="container">
      <div id="first" class="card first"><img src="/assets/images/SplitTypeSemiHermatic-slika1.png" alt=""></div>
      <div id="second" class="card"><img src="/assets/images/SplitTypeSemiHermatic-slika2.png" alt=""></div>
      <div id="third" class="card"><img src="/assets/images/SplitTypeSemiHermatic-slika3.png" alt=""></div>
    </div> -->
    <div class="productsImagesContent">
      <div id="first" class="slide first"> <img src="/assets/images/SplitTypeHermatic-slika1.jpg" alt=""></div>
      <div id="second" class="slide"><img src="/assets/images/SplitTypeHermatic-slika2.jpg" alt=""></div>
      <div id="third" class="slide"><img src="/assets/images/SplitTypeHermatic-slika3.jpg" alt=""></div>
    </div>
  </div>
  
</div>
