<div class="header">
    <div class="header_content">
        <div class="header_content_title">
            <a routerLink="/Kondenzacione jedinice"><i class="bi bi-arrow-left-short"></i></a><h1>Industrijski tip</h1>
        </div>
        <div class="header_content_content">
        </div>
    </div>
</div>
<div class="about_product">
    <div class="about_product_info">
        <div class="about_product_info_title section_1">
            <h1>Industrijski tip</h1>
        </div>
        <div class="about_product_info_spec section_1">
            <p>
                <span>Specifikacije:</span> Lorem ipsum dolor sit amet consectetur, <br> adipisicing elit. 
                Obcaecati laborum dolore expedita unde?<br> Possimus quisquam id cum. 
                Optio nam quisquam hic nihil enim, dignissimos adipisci quidem ipsa. 
                Aut, iure ab?
            </p>
        </div>
        <div class="about_product_info_supplier section_1">
            <h1>Proizvođač: IBS</h1>

        </div>
    </div>
    <div class="about_product_details">
        <div class="about_product_details_table">
            <table class="table">
                <caption><i class="bi bi-tools"></i>Specifikacije</caption>
                <tbody>
                  <tr>
                    <th scope="row">Tip kompresora</th>
                    <td>Semi Hermetic</td>
                  </tr>
                  <tr>
                    <th scope="row">Nominal Power Range</th>
                    <td>22 HP – 50 HP</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Available Refrigerants</th>
                    <td>R404A – R448A – R449A – F407F – R134A</td>
                  
                  </tr>
                  <tr>
                    <th scope="row">Condanser Position</th>
                    <td>Monoblok</td>
                  </tr>
                  <tr>
                    <th scope="row">Condanser Type</th>
                    <td>Fin&Tube</td> 
                  </tr>
                  <tr>
                    <th scope="row">Condanser Fin Spancing</th>
                    <td>2,1 mm – 2,5 mm</td>
                  </tr>
                  <tr>
                    <th scope="row">Condanser Tube Meterial</th>
                    <td>Copper</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
<div class="products_images">
  <div class="product_images_1 images">
    <div>
      <img src="/assets/images/industrijskiTip-slika1.jpg" alt="">
    </div>
  </div>
  <div class="product_images_2 images">
    <div>
      <img src="/assets/images/industrijskiTip-slika2.jpg" alt="">
    </div>
    
  </div>
</div>
