<div class="header">
    <div class="header_content">
        <div class="header_content_title">
            <a routerLink="/Proizvodi"><i class="bi bi-arrow-left-short"></i></a><h1>Isparivači</h1>
        </div>
        <div class="header_content_content">
        </div>
    </div>
</div>
<div class="evaporators">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="evaporators_img">
                <img src="/assets/images/evaporators.jpg" alt="">
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="evaporators_description">
                <p><span>Lorem </span>dolor sit amet consectetur adipisicing elit. 
                    Dolores quia molestias maxime tempore debitis expedita dolor mollitia facilis, officiis molestiae fugit ut corrupti non! 
                    Praesentium quia quae facere neque blanditiis.
                </p>
            </div>
        </div>
    </div>
    <div class="rest_of_products">
        <!-- Prvi -->
        <div class="row industrial product">
            <div class="col-12 col-lg-5 product_content_img">
                <img src="/assets/images/Industrial1.jpg" alt="">
            </div>
            <div class="col-12 col-lg-1">
    
            </div>
            <div class="col-12 col-lg-6 product_content_description">
                <div>
                    <h1>
                        Industrial Type
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Omnis, accusamus laboriosam. 
                        Inventore ratione ex deleniti placeat nesciunt, deserunt iusto voluptatum ut reprehenderit repudiandae cupiditate. 
                        Corrupti libero doloribus quod asperiores iste?
                    </p>
                    <button type="button" class="btn btn-outline-success" (click)="changeRoute('/Industrijski tip')">Pogledaj više</button>
                </div>
            </div>
        </div>
        <!-- Drugi -->
        <div class="row ceiling_type product">
            <div class="col-12 col-lg-5 product_content_img">
                <img src="/assets/images/Ceiling Type.jpg" alt="">
            </div>
            <div class="col-12 col-lg-1">
    
            </div>
            <div class="col-12 col-lg-6 product_content_description">
                <div>
                    <h1>
                        Ceiling type
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Omnis, accusamus laboriosam. 
                        Inventore ratione ex deleniti placeat nesciunt, deserunt iusto voluptatum ut reprehenderit repudiandae cupiditate. 
                        Corrupti libero doloribus quod asperiores iste?
                    </p>
                    <button type="button" class="btn btn-outline-success" (click)="changeRoute('/Ceiling type')">Pogledaj više</button>
                </div>
            </div>
        </div>
        <!-- Treci -->
        <div class="row blast_freezers product">
            <div class="col-12 col-lg-5 product_content_img">
                <img src="/assets/images/BlastFreezers.jpg" alt="">
            </div>
            <div class="col-12 col-lg-1">
    
            </div>
            <div class="col-12 col-lg-6 product_content_description">
                <div>
                    <h1>
                       Blast Freezers
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Omnis, accusamus laboriosam. 
                        Inventore ratione ex deleniti placeat nesciunt, deserunt iusto voluptatum ut reprehenderit repudiandae cupiditate. 
                        Corrupti libero doloribus quod asperiores iste?
                    </p>
                    <button type="button" class="btn btn-outline-success" (click)="changeRoute('/Blast Freezers type')">Pogledaj više</button>
                </div>
            </div>
        </div>
        <!-- Cetvrti -->
        <div class="row standard product">
            <div class="col-12 col-lg-5 product_content_img">
                <img src="/assets/images/Standard.jpg" alt="">
            </div>
            <div class="col-12 col-lg-1">
    
            </div>
            <div class="col-12 col-lg-6 product_content_description">
                <div>
                    <h1>
                        Standard
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Omnis, accusamus laboriosam. 
                        Inventore ratione ex deleniti placeat nesciunt, deserunt iusto voluptatum ut reprehenderit repudiandae cupiditate. 
                        Corrupti libero doloribus quod asperiores iste?
                    </p>
                    <button type="button" class="btn btn-outline-success" (click)="changeRoute('/Standard type')">Pogledaj više</button>
                </div>
            </div>
        </div>
    </div>
</div>