<div class="header">
    <div class="header_content">
        <div class="header_content_title">
            <a routerLink="/Proizvodi"><i class="bi bi-arrow-left-short"></i></a><h1 routerLink="/Proizvodi">Paneli</h1>
        </div>
        <div class="header_content_content">
        </div>
    </div>
</div>
<div class="panels">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="panels_img">
                <img src="/assets/images/paneli2.jpg" alt="">
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="panels_description">
                <p><span>Lorem </span>dolor sit amet consectetur adipisicing elit. 
                    Dolores quia molestias maxime tempore debitis expedita dolor mollitia facilis, officiis molestiae fugit ut corrupti non! 
                    Praesentium quia quae facere neque blanditiis.
                </p>
            </div>
        </div>
    </div>
    <div class="rest_of_products">
        <!-- Prvi -->
        <div class="row industrial product">
            <div class="col-12 col-lg-5 product_content_img">
                <img src="/assets/images/zidni.jpg" alt="">
            </div>
            <div class="col-12 col-lg-1">
    
            </div>
            <div class="col-12 col-lg-6 product_content_description">
                <div>
                    <h1>
                        Zidni paneli
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Omnis, accusamus laboriosam. 
                        Inventore ratione ex deleniti placeat nesciunt, deserunt iusto voluptatum ut reprehenderit repudiandae cupiditate. 
                        Corrupti libero doloribus quod asperiores iste?
                    </p>
                    <button type="button" class="btn btn-outline-success" (click)="changeRoute('/Zidni')">Pogledaj više</button>
                </div>
            </div>
        </div>
        <!-- Drugi -->
        <div class="row ceiling_type product">
            <div class="col-12 col-lg-5 product_content_img">
                <img src="/assets/images/krovni.jpg" alt="">
            </div>
            <div class="col-12 col-lg-1">
    
            </div>
            <div class="col-12 col-lg-6 product_content_description">
                <div>
                    <h1>
                        Krovni paneli
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Omnis, accusamus laboriosam. 
                        Inventore ratione ex deleniti placeat nesciunt, deserunt iusto voluptatum ut reprehenderit repudiandae cupiditate. 
                        Corrupti libero doloribus quod asperiores iste?
                    </p>
                    <button type="button" class="btn btn-outline-success" (click)="changeRoute('/Krovni')">Pogledaj više</button>
                </div>
            </div>
        </div>
        <!-- Treci -->
        <div class="row blast_freezers product">
            <div class="col-12 col-lg-5 product_content_img">
                <img src="/assets/images/fasadni.jpg" alt="">
            </div>
            <div class="col-12 col-lg-1">
    
            </div>
            <div class="col-12 col-lg-6 product_content_description">
                <div>
                    <h1>
                       Fasadni paneli
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Omnis, accusamus laboriosam. 
                        Inventore ratione ex deleniti placeat nesciunt, deserunt iusto voluptatum ut reprehenderit repudiandae cupiditate. 
                        Corrupti libero doloribus quod asperiores iste?
                    </p>
                    <button type="button" class="btn btn-outline-success" (click)="changeRoute('/Fasadni')">Pogledaj više</button>
                </div>
            </div>
        </div>
    </div>
</div>